

@*@model IEnumerable<User>*@

@{
    ViewData["Title"] = "AllUsers";
}

<h1>AllUsers</h1>

<table class="table table-bordered table-hover">
    <tr>

        <td> Email</td>
        <td>FName</td>
        <td> LName</td>



    </tr>
    @foreach (var App in ViewBag.user)
    {
        <tr>

            <td> @App.Email</td>
            <td> @App.FName</td>
            <td> @App.LName</td>



        </tr>
    }
</table>